@media (max-width: 480px) {
  .hitButton,
  .standButton,
  .doubleButton,
  .splitButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

.playerButtons {
  display: flex;
}

.hitButton {
  padding: 10px 20px;
  background-color: #ff0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hitButton:active {
  transform: scale(0.95);
  background-color: #ff3333;
}

.hitButton:hover {
  background-color: #ff1a1a;
}

.standButton {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.standButton:active {
  transform: scale(0.95);
  background-color: #0056b3;
}

.standButton:hover {
  background-color: #0069d9;
}

.doubleButton {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.doubleButton:active {
  transform: scale(0.95);
  background-color: #404040;
}

.doubleButton:hover {
  background-color: #808080;
}

.splitButton {
  padding: 10px 20px;
  background-color: #008000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.splitButton:active {
  transform: scale(0.95);
  background-color: #006400;
}

.splitButton:hover {
  background-color: #32cd32;
}

@media (max-width: 768px) {
  .playerCard0,
  .playerCard1,
  .playerCard2,
  .playerCard3 {
    max-width: 100px;
  }
}

@media (min-width: 768px) {
  .playerCard0,
  .playerCard1,
  .playerCard2,
  .playerCard3 {
    max-width: 130px;
  }
}

.split0 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
}

.split1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.split2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.split3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.bettingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 10px
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.betButton,
.confirmButton {
  background-color: #ffffff;
  border: none;
  color: #2f9c75;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.confirmButton:hover,
.betButton:hover {
  transform: scale(1.1);
  color: #ffffff;
  background-color: #206a4b;
}

.customBetInput {
  background-color: #ffffff;
  border: none;
  color: #2f9c75;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  width: 100px;
  padding: 15px 32px;
}

@media (max-width: 768px) {
  .betButton,
  .confirmButton {
    padding: 12px 24px;
    font-size: 14px;
  }
  .customBetInput {
    padding: 12px 24px;
    font-size: 14px;
  }
}
