.hitButton {
  padding: 10px 20px;
  background-color: #ff0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hitButton:active {
  transform: scale(0.95);
  background-color: #ff3333;
}

.hitButton:hover {
  background-color: #ff1a1a;
}

.standButton {
  padding: 10px 20px;
  background-color: #007bff; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.standButton:active {
  transform: scale(0.95);
  background-color: #0056b3;
}

.standButton:hover {
  background-color: #0069d9; 
}

.doubleButton {
  padding: 10px 20px;
  background-color: #000000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.doubleButton:active {
  transform: scale(0.95);
  background-color: #404040; 
}

.doubleButton:hover {
  background-color: #808080;
}

.splitButton {
  padding: 10px 20px;
  background-color: #008000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.splitButton:active {
  transform: scale(0.95);
  background-color: #006400; 
}

.splitButton:hover {
  background-color: #32cd32; 
}

.player-card {
  width: 100px;
}
