.image {
  display: flex;
}
.card-image {
  width: 100%;
}

.cards-container {
  margin-left: 10px;
  margin-right: 10px;
}

.bet-button,
.confirm-button {
  background-color: #ffffff;
  border: none;
  color: #2f9c75;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.confirm-button:hover,
.bet-button:hover {
  transform: scale(1.1);
  color: #ffffff;
  background-color: #206a4b;
}

@media (max-width: 768px) {
  .bet-button,
  .confirm-button {
    padding: 12px 24px;
    font-size: 14px;
  }
}

.app-title {
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em
}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.5em;
  }
}

.bet-text {
  color: #ffffff
}
